@import 'tailwindcss';

@theme {
  --color-primary: #ff7f1c;
  --color-primary-foreground: #ffffff;

  --color-primary-pressed: #e76500;
  --color-primary-pressed-foreground: #ffbb87;

  --color-primary-disabled: #ff7f1c30;
  --color-primary-disabled-foreground: #ff7f1c;

  --color-secondary: #e8e8e8;
  --color-secondary-foreground: #555555;

  --color-secondary-pressed: #d3d3d3;
  --color-secondary-pressed-foreground: #777777;

  --color-secondary-disabled: #f5f5f5;
  --color-secondary-disabled-foreground: #cfcfcf;

  --color-muted: #727272;

  --color-border-default: #00000010;

  --color-info: #0052c8;

  --color-orange: #ff7f1c;

  --animate-cta-in: cta-in 0.5s ease-out;

  @keyframes cta-in {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  /* 활성화된 버튼에 자동으로 cursor: pointer 적용 */
  button:not(:disabled),
  button:not([disabled]) {
    cursor: pointer;
  }
}

@layer components {
  .text-26-bold {
    @apply text-[1.625rem] font-bold tracking-[-0.02em];
  }
  .text-22-bold {
    @apply text-[1.375rem] font-bold tracking-[-0.02em];
  }
  .text-18-semibold {
    @apply text-lg font-semibold tracking-[-0.015em];
  }
  .text-18-medium {
    @apply text-lg font-medium tracking-[-0.015em];
  }
  .text-16-regular {
    @apply text-base font-normal tracking-[-0.02em];
  }
}
