@import 'tailwindcss';

@theme {
  --color-primary: #3182f7;
  --color-primary-foreground: #ffffff;

  --color-primary-pressed: #1263d6;
  --color-primary-pressed-foreground: #81a5e4;

  --color-primary-disabled: #e0e0e0;
  --color-primary-disabled-foreground: #aaaaaa;

  --color-secondary: #d2e5ff;
  --color-secondary-foreground: #0058d8;

  --color-secondary-pressed: #9ac1f4;
  --color-secondary-pressed-foreground: #005fd84d;

  --color-secondary-disabled: #f2f7ff;
  --color-secondary-disabled-foreground: #bfd5f5;

  --color-orange: #ff7f1c;

  --color-muted: #727272;

  --color-border-default: #00000010;
  --color-border-blue: #3491ff;

  --color-info: #0052c8;

  --color-orange: #ff7f1c;

  --animate-cta-in: cta-in 0.5s ease-out;

  @keyframes cta-in {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  /* 활성화된 버튼에 자동으로 cursor: pointer 적용 */
  button:not(:disabled),
  button:not([disabled]) {
    cursor: pointer;
  }
}

@layer components {
  .text-26-bold {
    @apply text-[1.625rem] font-bold tracking-[-0.02em];
  }
  .text-22-bold {
    @apply text-[1.375rem] font-bold tracking-[-0.02em];
  }

  .text-18-bold {
    @apply text-lg font-bold tracking-[-0.02em];
  }
  .text-18-semibold {
    @apply text-lg font-semibold tracking-[-0.015em];
  }
  .text-18-medium {
    @apply text-lg font-medium tracking-[-0.015em];
  }
  .text-18-regular {
    @apply text-lg font-normal tracking-[-0.015em];
  }

  .text-16-regular {
    @apply text-base font-normal tracking-[-0.02em];
  }
  .text-16-semibold {
    @apply text-base font-semibold tracking-[-0.015em];
  }
  .text-16-bold {
    @apply text-base font-bold tracking-[-0.02em];
  }

  .text-14-regular {
    @apply text-sm leading-[130%] font-normal tracking-[-0.015em];
  }
  .text-14-medium {
    @apply text-sm leading-[150%] font-medium tracking-[-0.015em];
  }
  .text-14-bold {
    @apply text-sm font-bold tracking-[-0.02em];
  }
}
